{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.ProjName}}</title>
    <link rel="stylesheet" href="/css/my-css.css">
    <script src="/js/my-js.js"></script>
</head>
<body>
<div id="divHeader">
    {{ template "header" . }}
</div>

<div class="rowDiv" style="display: flex;justify-content: space-between">
    <div style="display: flex;">
        <div class="selectDiv">
            <label>InputType: </label>
            <select id="inputType" title="inputType" onchange="onInputTypeChange()">
                {{range $key, $inoutType := .InoutTypes}}
                <option value={{ $inoutType.Code }} title="{{ $inoutType.Desc }}">{{ $inoutType.Name }}</option>
                {{end}}
            </select>
        </div>
        <div class="selectDiv">
            <label>InputFormat: </label>
            <select id="inputFormat" title="inputFormat" onchange="onInputFormatChange()">
                {{range $key, $mapping := .InoutFormatMappings}}
                <option value={{ $mapping.InputFormat.Code }} title="{{ $mapping.InputFormat.Desc }}">{{ $mapping.InputFormat.Name }}</option>
                {{end}}
            </select>
        </div>
    </div>
</div>
<div class="rowDiv" style="display: flex;justify-content: space-between">
    <div style="display: flex;">
        <div class="selectDiv">
            <label>OutputType: </label>
            <select id="outputType" title="outputType">
                {{range $key, $inoutType := .InoutTypes}}
                <option value={{ $inoutType.Code }} title="{{ $inoutType.Desc }}">{{ $inoutType.Name }}</option>
                {{end}}
            </select>
        </div>
        <div class="selectDiv">
            <label>OutputFormat: </label>
            <select id="outputFormat" title="outputFormat">
                <!-- Output types will be populated here -->
            </select>
        </div>
        <button type="button" class="rowBtn" onclick="convert()">Convert</button>
        <button type="button" class="rowBtn" onclick="addRecord()">Save</button>
    </div>
    <div>
        <button type="button" onclick="clearText()">Clear</button>
    </div>
</div>

<div class="rowDiv">
    <textarea id="inputText" placeholder="input text..."></textarea>
    <div id="inputFileDiv">
        <input id="inputFile" title="inputFile" type="file"/>
    </div>
</div>
<div class="rowDiv">
    <textarea id="output" placeholder="output..."></textarea>
</div>
</body>
<script>
    function onInputFormatChange() {
        let inputFormat = document.getElementById("inputFormat");
        let outputFormat = document.getElementById("outputFormat");
        let selectedCode = inputFormat.value;

        outputFormat.innerHTML = "";
        let formatMappings = {{ $.InoutFormatMappings }};
        for (let i = 0; i < formatMappings.length; i++) {
            if (formatMappings[i].InputFormat.Code == selectedCode) {
                let outputFormats = formatMappings[i].OutputFormats;
                outputFormats.forEach(function(format) {
                    let option = document.createElement("option");
                    option.value = format.Code;
                    option.textContent = format.Name;
                    option.title = format.Desc; // Optional: Add title for tooltips
                    outputFormat.appendChild(option);
                });
                break;
            }
        }
    }
</script>
</html>
{{ end }}