{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.ProjName}}</title>
    <link rel="stylesheet" href="/css/my-css.css">
    <script src="/js/my-js.js"></script>
</head>
<body style="width: 90%">
<div id="divHeader">
    {{ template "header" . }}
</div>

<div class="rowDiv" style="display: flex;justify-content: space-between">
    <div style="display: flex;">
        <div class="selectDiv">
            <label>Type: </label>
            <select id="selectType">
                {{range $key, $value := .ConvertTypes}}
                <option value={{$value}}>{{$value}}</option>
                {{end}}
            </select>
        </div>
        <button onclick="convert()">Convert</button>
    </div>
    <button onclick="saveRecord()" style="margin-left: 100px">Save</button>
</div>

<div class="rowDiv" style="display: flex;justify-content: space-between">
    <textarea id="input" placeholder="input..."></textarea>
    <textarea id="output" placeholder="output..."></textarea>
</div>

<div>
    <a id="message"></a>
</div>
</body>
</html>
{{ end }}