{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.ProjName}}</title>
    <link rel="stylesheet" href="/css/my-css.css">
    <script src="/js/my-js.js"></script>
</head>
<body>
<div id="divHeader">
    {{ template "header" . }}
</div>

<div class="rowDiv" style="display: flex;justify-content: space-between">
    <div style="display: flex;">
        <div class="selectDiv">
            <label>InputType: </label>
            <select id="inputType" title="inputType" onchange="onInputTypeChange()">
                {{range $key, $value := .InputTypes}}
                <option value={{$value}} title="Example: {{ (index $.InputCases $key) }}">{{$value}}</option>
                {{end}}
            </select>
        </div>
        <div class="selectDiv">
            <label>OutputType: </label>
            <select id="outputType" title="outputType">
                {{range $key, $value := .OutputTypes}}
                <option value={{$value}}>{{$value}}</option>
                {{end}}
            </select>
        </div>
        <button type="button" class="rowBtn" onclick="convert()">Convert</button>
        <button type="button" class="rowBtn" onclick="addRecord()">Save</button>
    </div>
    <div>
        <button type="button" onclick="clearText()">Clear</button>
    </div>
</div>

<div class="rowDiv">
    <textarea id="input" placeholder="input..."></textarea>
    <div id="inputFileDiv">
        <label>InputFile: </label>
        <input id="inputFile" title="inputFile" type="file"/>
    </div>
</div>
<div class="rowDiv">
    <textarea id="output" placeholder="output..."></textarea>
</div>
</body>
</html>
{{ end }}