body {
    width: 90%;
    background: rgba(105, 151, 103, 0.72);
}

textarea {
    width: 100%;
    font-size: 16px;
    resize: none;
    border-radius: 4px;
    background: #c9dacced;
}

#input {
    height: 200px;
}

#output {
    min-height: 200px;
    /*max-height: 600px;*/
}

.rowDiv {
    margin-top: 20px;
}

.rowBtn {
    margin-right: 20px;
}

.selectDiv {
    margin-right: 20px;
}

input {
    width: 400px;
    height: 28px;
    font-size: 16px;
    border-radius: 4px;
    background: #c9dacced;
}

select {
    width: 240px;
    height: 28px;
    font-size: 16px;
    border-radius: 4px;
    background: #c9dacced;
}

button {
    width: 80px;
    font-size: 16px;
    border-radius: 4px;
    background: #c9dacced;
}